.bookingView {
  margin-top: 2rem;
  font-size: 1.125rem;
}

.cancelBtnContainer {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.tripLinkContainer {
  font-size: 0.9rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.55);
}

.driverActions {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.driverActions button {
  margin: 0 0.25rem;
}

.status {
  font-size: 1rem;
  margin: 1rem auto;
}

.messageContent {
  color: rgba(0, 0, 0, 0.55);
  font-size: 0.9rem;
  border: 1px solid #f0f0f0;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-top: 1rem;
}

.cancelRejectReason {
  margin-top: 0.2rem;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.55)
}

.cancelRejectReason .link {
  text-decoration: underline;
  text-decoration-style: dotted;
}
