.bookingView {
  margin-top: 2rem;
  font-size: 1.125rem;
}

.cancelBtnContainer {
  text-align: center;
  margin: 1rem auto;
}

.tripLinkContainer {
  font-size: 0.9rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.55);
  margin-top: 1rem;
}

.driverActions {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin-top: 2rem;
}

.status {
  font-size: 1rem;
  margin: 1rem auto;
}

.confirmed,
.pending,
.rejected {
  font-size: 1rem;
}

.confirmed {
  color: #0d730d;
}

.pending {
  color: #976916;
}

.rejected {
  color: #910b0b;
}

.cancelled {
  color: #717171;
}