.root h1 {
  text-align: center;
  margin-bottom: 1rem;
}

.root h2 {
  font-size: 1.25rem;
}

.row {
  margin-bottom: 1.5rem;
}

.name {
  color: rgba(0, 0, 0, 0.75);
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 0.2rem;
}

.age {
  margin-bottom: 0.5rem;
}

.emailConfirmed, .joinDate, .age {
  color: rgba(0, 0, 0, 0.75);
  font-size: 0.9rem;
}

.joinDate {
  margin-bottom: 0.8rem;
}

.profileSection {
  margin-bottom: 2rem;
}

.about {
  color: rgba(0, 0, 0, 0.55);
  font-size: 0.9rem;
  border: 1px solid #f0f0f0;
  border-radius: 0.5rem;
  padding: 1rem;
}

@media screen and (max-width: 767px) {
  .avatarCol {
    text-align: center; 
  }
}