.root {
  margin-bottom: 1rem;
}

.errorLoadingContainer {
  text-align: center;
}

.pendingBookings {
  font-size: 0.8rem;
}

.noTrips {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.55);
  padding: 0.5rem 0;
}

.noTrips a {
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  .row {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
