.root {
  color: #fffffff1;
  background-color: #294a54;
  padding: 2rem 0;
}

.root h2 {
  color: #fffffff1 !important;
  font-size: 2rem;
  text-align: center;
  margin: 0 auto 1.5rem;
}

.container {
  margin-bottom: 1rem;
}
