.header {
  display: flex;
  gap: 1rem;
  color: rgba(0, 0, 0, 0.45);
  align-items: center;
  padding: 0.5rem 0;
  border-bottom: 1px solid #eee;
}

.headerUserName {
  font-weight: 500;
}

.chat {
  padding: 0.5rem 0;
  font-weight: 300;
  display: flex;
  height: 400px;
  flex-direction: column-reverse;
  overflow: scroll;
}

.msgWrapper {
  display: flex;
  margin: 0.25rem 0;
}

.userMsgWrapper {
  justify-content: right;
}

.msg {
  border: 1px solid #eee;
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  max-width: 90%;
}

.userMsgWrapper .msg {
  border: none;
  color: #fff;
  background-color: #f18383;
}

.inputContainer {
  width: 100%;
  padding: 1rem 0;
}

.inputContainer .sendBtn {
  width: 4rem;
}