.root {
  margin-top: 1rem;
}

.bookingList {
  margin: 0.5rem auto;
}

.bookingList .booking {
  padding: 0.5rem;
}

.passengerName {
  flex-grow: 1;
  color: rgba(0, 0, 0, 0.55);
}

.status {
  font-size: 0.9rem;
  line-height: 1;
}
