.root {
  display: flex;
  flex: 0 0 50%;
  max-width: 50%;
}

.icon {
  width: 2rem;
  padding-left: 0.8rem;
  flex-shrink: 0;
}

.input {
  flex: 0 1 100%;
  max-width: calc(100% - 2rem);
}

.inputWithSwap {
  max-width: calc(100% - 4rem - 5px);
}

.swap {
  margin-right: 5px;
}

@media screen and (max-width: 767px) {
  .root {
    max-width: 100%;
  }
}
