.root {
  display: flex;
  flex: 0 0 50%;
  max-width: 50%;
  border-right: 1px solid #e9e9e9;
  border-bottom: none;
}

.icon {
  width: 2rem;
  padding-left: 0.8rem;
  flex-shrink: 0;
}

.input {
  flex: 0 1 100%;
  max-width: calc(100% - 2rem);
}

.inputWithSwap {
  max-width: calc(100% - 4rem - 5px);
}

.swap {
  margin-right: 5px;
}

@media screen and (max-width: 767px) {
  .root {
    max-width: 100%;
    border-bottom: 1px solid #e9e9e9;
    border-right: none;
    padding: 0.5rem 0;
  }
}
