.root h1 {
  text-align: center;
  margin-bottom: 1rem;
}

.info {
  text-align: center;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.55);
  padding: 1rem;
  margin-bottom: 0.5rem;
}

.info p {
  margin-bottom: 0.5rem;
}

.info a {
  text-decoration: underline;
}
