.container {
  width: 1440px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.logo {
  flex: 1;
}

.authButtons button {
  font-weight: 500;
  margin: 0 5px;
}

.navButtons {
  display: flex;
  align-items: center;
}

.offerTripBtn {
  margin: 0 5px;
}

.profileBtn {
  margin: 0 5px;
  font-size: 30px;
}
