.root {
  border: 2px solid #fff;
  border-radius: 1rem;
  padding: 40px 20px 20px;
  height: 100%;
}

.root h4 {
  color: #fff;
  font-weight: 500;
  font-size: 19px;
  text-align: center;
}

.content {
  font-weight: 300;
}

.icon {
  margin: -73px auto 10px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #fff;
  text-align: center;
}
