.root {
  border: 2px solid #fff;
  border-radius: 15px;
  position: relative;
  padding: 40px 20px 20px;
}

.root h4 {
  font-weight: 500;
  font-size: 19px;
  text-align: center;
}

.content {
  font-weight: 300;
}

.icon {
  position: absolute;
  top: -37px;
  left: calc(50% - 36px);
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background: #fff;
  line-height: 72px;
  text-align: center;
}
