.root {
  max-width: 800px;
  margin: auto;
  padding: 0 0.5rem;
}

.root h2 {
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
  text-align: center;
}

.searchContainer {
  margin: auto;
  max-width: 900px;
  padding: 0 0.5rem;
  margin-bottom: 1.5rem;
}

.result {
  margin-bottom: 3rem;
  text-align: center;
}

.statusText {
  line-height: 1.25;
  white-space: pre-line;
  margin-bottom: 1rem;
}
