.container {
  display: flex;
  justify-content: center;
}

.formContainer {
  width: 860px;
  padding: 5px;
  border: 2px solid #c7c7c7;
  border-radius: 0.8rem;
}

.form {
  display: flex;
}

.searchBtn {
  font-weight: 500;
  flex: 0.5 0 0%;
}

.inputFieldIcon {
  height: 32px;
}

.input {
  width: 100%;
  max-width: 80vw;
}

@media screen and (max-width: 767px) {
  .formContainer {
    border: none;
    height: auto;
  }

  .swapBtn {
    transform: rotate(90deg);
  }

  .searchBtn {
    margin-top: 10px;
  }

  .form {
    flex-direction: column;
  }
}
