.root {
  margin-bottom: 1rem;
}

.desc {
  max-height: 100px;
}

.btnContainer {
  padding: 0.5rem 0;
}

.btnContainer button {
  margin-right: 0.5rem;
}

.removeStopBtn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  color: rgba(0, 0, 0, 0.55);
}
