.container {
  display: flex;
  justify-content: center;
}

.formContainer {
  width: 860px;
  padding: 5px;
  border: 2px solid #c7c7c7;
  border-radius: 0.8rem;
}

.form {
  display: flex;
  row-gap: 0.5rem;
}

.placeInputGroup {
  display: flex;
  row-gap: 0.5rem;
  flex: 3 0 0%;
}

.fromInput {
  display: flex;
}

.toInput, .fromInput {
  max-width: 240px;
  flex: 1 0 0%;
}

.dateInput {
  flex: 1 0 0%;
}

.search {
  flex: 1 0 0%;
}

.searchBtn {
  font-weight: 500;
  width: 100%;
}

.inputFieldIcon {
  height: 2rem;
}

@media screen and (max-width: 767px) {
  .formContainer {
    height: auto;
    margin: 0 0.5rem;
    padding-top: 10px;
  }

  .fromInput, .toInput {
    max-width: unset;
  }

  .swapBtn {
    transform: rotate(90deg);
  }

  .form, .placeInputGroup {
    flex-direction: column;
  }
}
