.root {
  margin-bottom: 1rem;
}

.driverPreferences {
  margin: 0.5rem auto 1.5rem;
}

.helpText {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.55);
  margin-bottom: 1rem;
}

.avatarUpload {
  margin-bottom: 1rem;
}

.avatar {
  border-radius: 50%;
  overflow: hidden;
  height: 100px;
  width: 100px;
}

.avatarActions {
  height: 100%;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}
