.root {
  padding: 2rem 0 1rem;
}

.root :global(.carousel .slide) {
  text-align: unset;
}

.root :global(.carousel .control-dots .dot) {
  background: rgba(0, 0, 0, 0.45);
  box-shadow: none;
}

.root h2 {
  font-size: 2rem;
  text-align: center;
}

.tripWrapper {
  margin: 0 0.8rem 2rem;
}
